
.tablestyle
{
width: 100%;
background: white;
}
.tab
{
  margin-left: 2rem;
}
.mat-elevation-z8{
  box-shadow: none;

}
.ajoutevent{
  display: flex;
  justify-items: center;
  justify-content: space-between;
}
.filtre{
  margin-left: 2rem;

}
