<!-- Dashboard -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/dashboard"
  ><span class="menu-title" translate="MENU.DASHBOARD"></span
  ></a>
</div>

<!-- Layout Builder -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/event"
  ><span class="menu-title">Événement</span></a
  >
</div>
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/client"
  ><span class="menu-title">Client</span></a
  >
</div>
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/prospect"
  ><span class="menu-title">Prospect</span></a
  >
</div>
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/stock"
  ><span class="menu-title">Stock</span></a
  >
</div>
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/liste-devis"
  ><span class="menu-title">Devis</span></a
  >
</div>



