<div class="card mb-5 mb-xl-10">
  <div
    class="card-header border-0 cursor-pointer"
    role="button"
    data-bs-toggle="collapse"
    data-bs-target="#kt_account_profile_details"
    aria-expanded="true"
    aria-controls="kt_account_profile_details"
  >
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Détails Article</h3>
    </div>
  </div>
<div id="kt_account_profile_details" class="collapse show">
  <form novalidate="" class="form">
    <div class="card-body border-top p-9">


      <div class="row mb-6">
        <label class="col-lg-4 col-form-label required fw-bold fs-6"
          >Dos</label
        >
        <div class="col-lg-8 fv-row">
          <input
            type="text"
            class="form-control form-control-lg form-control-solid"
            placeholder="Dos"
          />
        </div>
      </div>


      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fw-bold fs-6"
          ><span class="required">Desription</span></label
        >
        <div class="col-lg-8 fv-row">
          <input
            type="text"
            class="form-control form-control-lg form-control-solid"
            placeholder="Desription"
          />
        </div>
      </div>
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fw-bold fs-6"
          ><span class="required">Référence</span></label
        >
        <div class="col-lg-8 fv-row">
          <input
            type="text"
            class="form-control form-control-lg form-control-solid"
            placeholder="Référence"
          />
        </div>
      </div>
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fw-bold fs-6"
          ><span class="required">Prix</span></label
        >
        <div class="col-lg-8 fv-row">
          <input
            type="text"
            class="form-control form-control-lg form-control-solid"
            placeholder="Prix"
          />
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-end py-6 px-9">
      <button
        type="button"
        style="margin-right:2rem ;"
        class="btn btn-primary"
      >
        Annuler
      </button>
      <button
        type="button"
        class="btn btn-primary"
      >
       Sauvegarder
      </button>

    </div>
  </form>
</div>
</div>
